doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/output.css')
    link(rel="icon", href="/public/images/icon.png")
  body(class="p-16 bg-gray-800 text-gray-200")
      block content
